body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 42px;
    font-weight: bold;
}

.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
    width: 100%;
    margin:auto;
}

.Header {
    height: 100px;
    background-color: steelblue;
    width: 100%;
    font-size: 56px;
    display: flex;
    align-items: center;
}

.Header img {
    width: 100%;
    max-width: 500px;
}

.Footer {
    height: 100px;
    background-color:lightslategray;
    padding-right: 35px;
    display: flex;
    font-size: 8px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Footer p {
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.Synapsis {
    background-color: whitesmoke;
    padding-left: 35px;
    padding-right: 35px;
    align-items: center;
    display: flex;
    height: 100%;
}

.SynapsisInner {
    margin-top: 10px;
    margin-bottom: 35px;
}

.Dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 35px;
    padding-right: 35px;
    flex-direction: column;
    background-color: silver;
    height: 100%;
    padding-top: 15px;
}

.DashboardCard {
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid silver;
    display: flex;
    background-color: whitesmoke;
}

.DashboardRow {
    display: flex;
    justify-content: space-between;
}

.DashboardCentered {
    margin-left: auto;
    margin-right: auto;
}

.MuiGrid-spacing-xs-3 > .MuiGrid-item {
    padding: 0px !important;
}

.ChartContainer {
    max-height: 565px;
    width: 565px;
}

.ChartContianer svg {
    height: 100% !important;
    width: 100% !important;
}

.ChartButtonBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 565px;
    padding-bottom: 35px;
}

.ChartButtonBar button {
    border: 1px solid midnightblue;
    padding: 7px;
    background-color: steelblue;
    color: white;
    width: 95px;
    cursor: pointer;
}

.ChartButtonBar button:disabled {
    color: silver;
    font-style: italic;
    cursor: auto;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    .ChartContainer {
        max-height: 565px;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .ChartContainer {
        width: 100%;
        padding-top: 0px;
    }

    .Footer {
        padding-right: 5px;
    }

    .Footer p {
        margin-left: auto;
        margin-right: auto;   
    }

    .ChartButtonBar {
        width: 100%;
    }

    .Dashboard {
        padding: 20px;
    }

    .ChartButtonBar {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 35px;
    }
}
